body {
  height: 100%;
  margin:0;
  padding:0;
  font-family: 'Cal sans', sans-serif;
}

.header-container{
  display: flex;
  background-color: #2563EB;
  color: aliceblue;
  align-items: center;
  
}

.header-container h1 {
  margin-left: 7%;
  margin-right: 32%;
}

.header-container h3 {
  margin-left: 5%;
}

.header-container button {
  margin-left: 5%;
  border-radius: 60px;
  background: none;
  border: none;
}

.header-container button img {
  width: 50px;
}